html, body {
  background: rgb(202, 194, 194);
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.left-side {  
  width: 25%;
  padding: 3%;
  height: auto;
  background: #0a6d7a;
  color: aliceblue;
}


.right-side {
  padding: 3% 0 2% 3%;
  width: 75%;
  background: rgb(202, 194, 194);
  color:black;
}

.footer {
  padding: 0;
  text-align: center;
  margin-top: auto;
  height: 30px;
  background-color: #333;
  color: #f2f2f2;
  padding:0;
}

.p-footer{
  padding: 0;
  margin: 0;
} 

.foto-e-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}
.minha-foto{
  border-radius: 50%;
  width: 150px; 
  padding-top: 8%;
}
#title{
    padding-bottom: 15%;        
  }